
.container1 {
    width: 100%;
    margin: 0 auto;
    font-size: 28px;
  }

  .logo {
    float: left;
    margin-left: 10px;
    color: black;
    font-family: 'Crimson Text', sans-serif;
    font-size: 30px;
  }
  
  .navbar {
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #090A0A/*fix*/;
    font-family: 'Crimson Text', sans-serif;
  }
  
  
  .navli {
    display: inline-block;
    margin-left: 0px;
    padding-top: 0px;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .navli:hover {
    transform: scale(1.04);
  }

  
  .active {
    background-color: #808080;
  }
/*done with nav bar